@import '../../scss//base.scss';

.input-content {
    color: $color-white;
    font-family: $font-primary;
    font-size: $font-size-medium;
    width: 200px;

    input {
        width: 200px;
        height: 50px;
        border-radius: 5px;
        border: 1.5px solid $color-secondary;
        color: $color-secondary;
    }
}
