@import '../../scss//base.scss';

.photo {
    background-color: #f3f1f1;
    border-radius: 5px;
    padding: 10px;
    display: block;
    position: relative;
    margin: auto;

    img {
        width: 250px;
    }

    .description {
        font-family: $font-primary;
        font-size: $font-size-x-small;
        position: absolute;
        color: $color-white;
        background-color: $color-black;
        padding: 7px;
        bottom: 14px;
        left: 62px;
    }
}
